*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*    ----Header----    */
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#menubg{
    display: none;
}
ul{
    display: flex;
    list-style: none;
    padding: 20px;
}
li{
    font-size: 2.4vh;
    font-weight: bold;
    margin-left: 5vh;
}
a{
    text-decoration: none;
    color: black;
}
/*    ----Main----    */
/*    ----Inicio----    */

#inicio{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#inicio div{
    text-align: center;
}

#inicio div p{
    font-size: 5vh;
    font-weight: bold;
    margin-top: 12vh;
}

#inicio div img{
    margin-top: 4vh;
    border-radius: 10vh;
    margin-bottom: 20vh;
}

button{
    width: 16vh;
    height: 6vh;
    border-radius: 3vh;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 2.5vh;
}

/*    ----Projetos----    */

h1{
    font-size: 6vh;
    text-align: center;
}
#projeto{
    background-color: #DCDBDB;
    width: 100%;
}
#projeto nav div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

/*    ----Habilidades----    */

#habilidade nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
.container{
    margin-top: 4vh;
}

.container .progress {
    margin: 0 auto;
    width: 38vh;
}

.progress {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25) 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25) 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 16px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));

    -webkit-transition: 0.45 linear;
    -moz-transition: 0.45 linear;
    -o-transition: 0.45 linear;
    transition: 0.45 linear;

    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;

    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#html:checked ~ .progress > .progress-bar {
    width: 85%;
    background-color: rgb(255, 64, 0);
}
#css:checked ~ .progress > .progress-bar {
    width: 80%;
    background-color: blue;
}
#js:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: rgb(220, 185, 45);
}
#php:checked ~ .progress > .progress-bar {
    width: 40%;
    background-color: rgba(0, 0, 255, 0.264);
}
.radio{
    display: none;
}

/*    ----Sobre----    */

#sobre{
    background-color: #DCDBDB;
    width: 100%;
}
#sobre nav p{
    text-align: center;
    font-size: 2.2vh;
    font-weight: bold;
    margin-bottom: -6vh;
}
#sobre nav div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
#sobre nav div div{
    display: block;
}
#sobre div img{
    margin-top: 4vh;
    border-radius: 10vh;
    margin-bottom: 20vh;
}

/*    ----Contactos----    */
form{
    margin-top: 5vh;
    display: block;
    text-align: center;
}
label{
    font-weight: bold;
}
input{
    margin-bottom: 2vh;
    width: 120vh;
    height: 5vh;
    border-radius: 1.5vh;
    background-color: #DCDBDB;
}
textarea{
    margin-bottom: 2vh;
    width: 126vh;
    height: 40vh;
    border-radius: 1.5vh;
    background-color: #DCDBDB;
}

/*    ----Menu Mobile----    */
.menu-mobile{
    background-color: #DCDBDB;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    display: none;
}
.menu-mobile ul {
    display: block;
}
.menu-mobile img {
    width: 4vh;
    position: fixed;
    right: 2vh;
    top: 2vh;
}

.menu-mobile ul li{
    text-align: center;
    margin-top: 2vh;
    font-size: 4vh;
}

/*    ----Tela 995----    */
@media screen and (max-width: 1000px) {
    /*    ----Inicio----    */

    #inicio{
        justify-content: space-evenly;
        width: 100%;
        display: block;
    }
    #inicio div{
        text-align: center;
    }
    #inicio div img{
        border-radius: 10vh;
        margin-bottom: 2vh;
    }
    button{
        margin-bottom: 2vh;
    }

    /*    ----Projetos----    */
    #projeto nav div{
        display: block;
    }

    /*    ----Habilidades----    */

    #habilidade nav {
        display: block;
    }
    /*    ----Sobre----    */

    #sobre nav p{
        text-align: center;
        font-size: 2.2vh;
        font-weight: bold;
    }
    #sobre nav div{
        display: block;
    }
    #sobre div img{
        margin-bottom: 2vh;
    }

    /*    ----Contactos----    */
    
    input{
        margin-bottom: 2vh;
        width: 90vh;
        height: 5vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
    textarea{
        margin-bottom: 2vh;
        width: 96vh;
        height: 40vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
}

/*    ----Tela 920----    */
@media screen and (max-width: 920px) {
    /*    ----Inicio----    */

    ul{
        display: none;
    }
    #menubg{
        display: block;
        margin-top: 5vh;
        width: 5vh;
        height:  5vh;
    }
    /*    ----Projetos----    */
    #projeto nav div{
        display: block;
    }

    /*    ----Habilidades----    */

    #habilidade nav {
        display: block;
    }
    /*    ----Sobre----    */

    #sobre nav p{
        text-align: center;
        font-size: 2.2vh;
        font-weight: bold;
    }
    #sobre nav div{
        display: block;
    }
    #sobre div img{
        margin-bottom: 2vh;
    }

    /*    ----Contactos----    */
    
    input{
        margin-bottom: 2vh;
        width: 90vh;
        height: 5vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
    textarea{
        margin-bottom: 2vh;
        width: 96vh;
        height: 40vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
}

/*    ----Tela 780----    */
@media screen and (max-width: 780px) {
    
    #fotoEli{
        width: 40vh;
    }

    #sobre div img{
        margin-bottom: 2vh;
    }
    /*    ----Contactos----    */
    input{
        margin-bottom: 2vh;
        width: 48vh;
        height: 5vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
    textarea{
        margin-bottom: 2vh;
        width: 54vh;
        height: 40vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
}

/*    ----Tela 420----    */
@media screen and (max-width: 420px) {

    #inicio div p{
        font-size: 3vh;
        font-weight: bold;
        margin-top: 4vh;
    }
    
    /*    ----Contactos----    */
    input{
        margin-bottom: 2vh;
        width: 38vh;
        height: 5vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
    textarea{
        margin-bottom: 2vh;
        width: 44vh;
        height: 40vh;
        border-radius: 1.5vh;
        background-color: #DCDBDB;
    }
}